.page{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel_box{
    width:1200px;
    height:450px;
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}
.carousel{
    height: 100%;
    position:absolute;
}
.carousel li{
    float:left;
}
.carousel li,.carousel li img{
    display: block;
    width:1200px;
    height:100%;
}
.carousel_index{
    position:absolute;
    bottom:8px;
    width:100%;
    display:flex;
    justify-content:center;
}
.carousel_index li{
    float:left;
    width:18px;
    height:18px;
    line-height:18px;
    text-align:center;
    border-radius:10px;
    background-color:rgba(0,0,0,.2);
    font-size:12px;
    cursor:pointer;
    margin:0 3px;
    color:#FFFFFF;
}
.carousel_index li.js_index,.carousel_index li:hover{
    background-color:rgba(0,0,0,.7);
}
.carousel_prev,.carousel_next{
    position:absolute;
    display:inline-block;
    top:45%;
    cursor:pointer;
    display:none;
}
.carousel_prev{
    left:0;
}
.carousel_next{
    right:0;
}
.novel_block{
    display: flex;
    width:1200px;
    margin-top: 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 1px 1px 2px 0px #F0EFEF;
}
.novel_block .title{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #bbacac;
}
.novel_block .novel_list{
    display: flex;
    width:100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.novel_block .novel_list .novel{
    display: flex;
    width: 390px;
    height: 136px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    box-shadow: 1px 1px 2px 0px #F0EFEF;
    margin-bottom: 20px;
}
.novel_block .novel_list .novel:nth-child(3n-1){
    margin-left: 15px;
    margin-right: 15px;
}
.novel_block .novel_list .novel .novel_cover{
    display: block;
    height: 136px;
    width: 102px;
    margin-right: 10px;
}
.novel_block .novel_list .novel .novel_cover img{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
}
.novel_block .novel_list .novel .novel_info{
    flex:1;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.novel_block .novel_list .novel .novel_info .novel_name{
    padding: 10px 0px;
}
.novel_block .novel_list .novel .novel_info .novel_name a{
    font-size: 18px;
    color: #000000;
}
.novel_block .novel_list .novel .novel_info .novel_name a:hover{
    color: #514D4D;
}

.novel_block .novel_list .novel .novel_info .novel_author{
    font-size: 14px;
    line-height: 16px;
    color: #A6A6A6;
    margin-bottom: 6px;
}
.novel_block .novel_list .novel .novel_info .novel_introduce{
    display: block;
    display: -webkit-box;
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}